/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 66px;
  }
}

body.fixed-top-nav {
  // Add some padding for the nav-bar.
  padding-top: 56px;
}

body.sticky-bottom-footer {
  // Remove padding below footer.
  padding-bottom: 0;
}

.container {
  max-width: $max-content-width;
}

// Profile
.profile {
  img {
    width: 100%;
  }
}

// TODO: redefine content layout.

/******************************************************************************
 * Publications
 ******************************************************************************/

// TODO: redefine publications layout.

/*****************************************************************************
* Projects
*****************************************************************************/

// TODO: redefine projects layout.

/* ----- ダークモード固定用のカスタム設定 ----- */
// テーマ切り替えボタンを非表示にする
.toggle-container {
  display: none;
}

/* ----- ヘッダー用SNSアイコンのカスタムスタイル ----- */
.header-socials {
  .social {
    text-align: left; // アイコンを左寄せに（中央寄せなら center）
    margin-top: 0rem;
    margin-bottom: 1rem;
  }
  .contact-icons {
    font-size: 1.5rem !important; // アイコンのサイズ
  }
  a {
    padding: 0 0.6rem 0 0; // アイコン間の右側の余白 (上 右 下 左 の順に余白を指定)
  }
}

/* ----- 'researchmap'リンクの文字サイズを個別に調整 ----- */
.header-socials .social a[title="researchmap"] {
  font-size: 0.7em; /* 他の文字の70%のサイズにする */
  display: inline-block;
  padding: 0 0.6rem 1rem 0;
}

/* ----- タイトルと本文の間に余白を追加 ----- */
.post-header {
  margin-bottom: 2rem;
}

/* ----- Aboutページのセクション間の余白を調整 ----- */
.post > article > h2 {
  margin-top: 2rem; /* セクションの上の余白 */
  margin-bottom: 0.5rem; /* セクションの下の余白 */
}

.extra-margin-top {
  margin-top: 2rem; /* 上に大きな余白を追加 */
}

/* ----- 英語テキスト用のカスタムカラー ----- */
.en-text {
  color: #99a1a8;
}

/* ----- Awardバナーのカスタムスタイル ----- */
.publications .links a.award {
  background-color: var(--global-theme-color);
  color: #000000 !important;

  &:hover {
    background-color: transparent;
    color: var(--global-theme-color) !important;
  }
}

/* ----- 業績ページおよびArticlesページのリスト間の余白を調整 ----- */
.publications ol.bibliography > li {
  padding-bottom: 1rem; /* ← 各リスト項目の下に余白を追加 */
}

/* ----- Notesページのタイトルをテーマカラーにする ----- */
.publications .title {
  color: var(--global-theme-color);
  font-weight: bold;
}